.choiceBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
} 

.search-button{
    -fx-background-color: #D9B54A;
    -fx-background-radius: 30;
} 

.button {
    -fx-background-radius: 30;
} 
.button:hover {
    -fx-background-color:#2A1C42;
} 

.button:pressed {
    -fx-background-color:#7156DD;
}
